@media only screen and (max-width: 1252px) {
  #tools > .wrapper > .left_tools > .content {
    max-width: 514px;
    margin: 165px 110px 155px 100px;
  }
}
@media only screen and (max-width: 1200px) {
  #top_banner .main_banner {
    height: 80vh;
  }
  #top_banner .main_banner > .content > h1 {
    font-size: 45px;
  }
  .menu_items {
    bottom: 25px;
    right: 25px;
  }
  .inner_class {
    height: 75vh;
  }
  .inner_class > .content {
    bottom: 220px;
    right: 35px;
  }
  #cards .menu_cards > div {
    height: 520px;
  }
  #tools > .wrapper > .right_tools {
    height: 70vh;
  }
  #tools > .wrapper > .left_tools > .content {
    max-width: 514px;
    margin: 80px 60px 100px 40px;
  }
  #clients .wrapper {
    margin-top: 70px;
  }
  #clients {
    margin-bottom: 60px;
  }
  #clients .wrapper > .clients {
    padding: 20px 0;
  }
  #clients .wrapper > p {
    margin-bottom: 35px;
  }
  #footer {
    padding-top: 150px;
  }
  #help .wrapper {
    margin-top: 85px;
  }
}
@media only screen and (max-width: 992px) {
  #top_banner .inner_header > .right_side_header > .menu_top > ul li a {
    margin-right: 20px;
  }
  #top_banner .main_banner > .content {
    min-width: 570px;
  }
  #cards .menu_cards > div {
    height: 410px;
  }
  #footer .wrapper > .top_footer > .right_side > p {
    max-width: 300px;
  }
  #tools > .wrapper > .right_tools {
    height: 65vh;
  }
  #tools > .wrapper > .left_tools > .content {
    margin: 50px 60px 0 40px;
  }
  .inner_class > .content > p {
    font-size: 13px;
  }
  #footer .wrapper > .newsletter > form > input {
    width: 400px;
  }
  .inner_class {
    height: 60vh;
  }
  .inner_class > .content {
    bottom: 135px;
    right: 35px;
  }
  #footer .wrapper > .bottom_footer > .socials {
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 768px) {
  #top_banner .inner_header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #top_banner .inner_header > .right_side_header > ._btn {
    display: none;
  }
  .hamburger {
    display: block;
  }
  #header {
    position: relative;
  }
  .menu_top {
    display: none;
    position: absolute;
    border-radius: 0 0 20px 20px;
    right: 0;
    top: 52px;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    background-color: #666666;
    padding: 20px 0;
    z-index: 11;
  }
  #top_banner .inner_header > .right_side_header > .menu_top > ul {
    display: grid;
  }
  #top_banner .inner_header > .right_side_header > .menu_top > ul > li {
    height: 50px;
  }
  #top_banner .inner_header > .right_side_header > .menu_top > ul > li:last-child {
    height: 20px;
  }
  #top_banner .inner_header > .right_side_header > .menu_top > ul > li > a {
    line-height: 15px;
    font-size: 20px;
  }
  #top_banner .main_banner > .content > p {
    font-size: 10px;
    line-height: 15px;
  }
  #top_banner .main_banner > .content {
    min-width: 410px;
  }
  #top_banner .main_banner > .content > h1 {
    font-size: 38px;
    margin-bottom: 5px;
  }
  #cards {
    margin-bottom: 35px;
  }
  #cards h2 {
    font-size: 35px;
    line-height: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  #cards p {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 20px;
  }
  #cards .menu_cards > div {
    height: 250px;
  }
  #cards .menu_cards > div > .card_content {
    bottom: 10px;
    left: 15px;
  }
  #cards .menu_cards > div > .card_content p {
    font-size: 8px;
    line-height: 12px;
    max-width: 170px;
    color: #C0C0C0;
    margin-bottom: 10px;
  }
  #cards .menu_cards > div > .card_content h5 {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .main_button {
    width: 100px;
    height: 34px;
  }
  .main_button > .round {
    width: 23px;
    height: 23px;
  }
  .main_button > div {
    font-size: 10px;
  }
  .menu_items {
    bottom: 20px;
    right: 9px;
  }
  .menu_items span {
    font-size: 9px;
  }
  .inner_class > .content {
    bottom: 90px;
    right: 10px;
    max-width: 170px;
  }
  .inner_class > .content > h5 {
    font-size: 11px;
    line-height: 23px;
  }
  .inner_class > .content > p {
    font-size: 9px;
    line-height: 15px;
  }
  #tools > .wrapper > .right_tools {
    width: 55%;
  }
  #tools > .wrapper > .left_tools > .content {
    max-width: 514px;
    margin: 30px 50px 10px 25px;
  }
  #tools > .wrapper > .left_tools > .content > .subtitle {
    font-size: 9px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  #tools > .wrapper > .left_tools > .content > h3 {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  #tools > .wrapper > .left_tools > .content > .above_title {
    font-size: 11px;
    line-height: 2px;
  }
  #clients {
    margin-bottom: 15px;
  }
  #clients .wrapper {
    margin-top: 25px;
  }
  #clients .wrapper > h2 {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #clients .wrapper > p {
    font-size: 20px;
    margin-bottom: 0;
  }
  #clients .wrapper > .clients img {
    width: 76px;
    height: 80px;
  }
  #help .wrapper {
    margin-top: 30px;
  }
  #help .wrapper > h3 {
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 9px;
  }
  #help .wrapper > p {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  #footer {
    padding-top: 95px;
    padding-bottom: 50px;
  }
  #footer .wrapper > .top_footer > .right_side > p {
    max-width: none;
  }
  #footer .wrapper > .top_footer > .left_side > .menu_footer_wrapper > .menu_footer > h5 {
    font-size: 12px;
  }
  #footer .wrapper > .top_footer > .left_side > .menu_footer_wrapper > .menu_footer > ul > li > a {
    font-size: 12px;
  }
  #footer .wrapper > .newsletter > form > input {
    width: 220px;
  }
  #footer .wrapper > .newsletter > .content > h4 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .copyright {
    font-size: 10px;
  }
  #footer .wrapper > .bottom_footer {
    margin-top: 45px;
  }
}
@media only screen and (max-width: 480px) {
  .menu_top {
    width: 60%;
  }
  #top_banner .main_banner > .content > h1 {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 0;
  }
  #top_banner .main_banner > .content > div {
    line-height: 6px;
  }
  #top_banner .main_banner > .content > p {
    font-size: 8px;
    line-height: 13px;
  }
  #top_banner .main_banner > .content {
    min-width: 280px;
  }
  #cards h2 {
    font-size: 30px;
    line-height: 20px;
    margin-top: 45px;
    margin-bottom: 10px;
  }
  #cards p {
    margin-bottom: 12px;
    font-size: 14px;
  }
  #cards .menu_cards {
    display: block;
  }
  #cards .menu_cards > div {
    margin-bottom: 20px;
  }
  #tools > .wrapper {
    display: block;
  }
  #tools > .wrapper > .left_tools {
    width: 100%;
  }
  #tools > .wrapper > .right_tools {
    width: 100%;
    margin-bottom: 20px;
  }
  #clients .wrapper > .clients {
    padding: 10px 0;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #clients .wrapper > .clients img:nth-child(1) {
    grid-column: 2/4;
    grid-row: 1;
  }
  #clients .wrapper > .clients img:nth-child(2) {
    grid-column: 4/6;
    grid-row: 1;
  }
  #clients .wrapper > .clients img:nth-child(3) {
    grid-column: 6/7;
    grid-row: 1;
  }
  #clients .wrapper > .clients img:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2;
  }
  #clients .wrapper > .clients img:nth-child(5) {
    grid-column: 5/7;
    grid-row: 2;
  }
  #footer .wrapper > .top_footer > .left_side > .menu_footer_wrapper {
    grid-gap: 20px;
  }
  #footer .wrapper > .top_footer > .left_side > .menu_footer_wrapper > .menu_footer > ul > li > a {
    font-size: 10px;
  }
  #footer .wrapper > .top_footer > .right_side > img {
    width: 94px;
    margin-bottom: 0;
  }
  #footer .wrapper > .newsletter > form > input {
    width: 150px;
    height: 45px;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 55px;
  }
  #footer .wrapper > .newsletter > form > .main_button {
    position: absolute;
    width: 46px;
    height: 23px;
    bottom: 12px;
    right: 5px;
    background-color: #000;
  }
  #footer .wrapper > .newsletter > form > .main_button > div {
    font-size: 11px;
  }
  #footer .wrapper > .newsletter > .content > h4 {
    font-size: 11px;
    margin-bottom: 5px;
  }
  #footer .wrapper > .newsletter > .content > p {
    font-size: 12px;
    line-height: 18px;
  }
  .copyright {
    font-size: 9px;
  }
  #footer .wrapper > .bottom_footer > .socials {
    grid-gap: 15px;
  }
}

/*# sourceMappingURL=adaptive.css.map */
