@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.menu_items {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
}
.menu_items > .item {
  margin-right: 16px;
}
.menu_items > .item:last-child {
  margin-right: 0;
}
.menu_items > .item > img {
  margin-right: 6px;
}

.main_button {
  cursor: pointer;
  background-color: #ffffff;
  width: 143px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.4s ease;
}
.main_button > .round {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: #000;
}
.main_button > div {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.main_button:hover {
  background-color: #666666;
}
.main_button:hover .round {
  background-color: #fff;
}
.main_button:hover > div {
  color: #ffffff;
}

#top_banner .inner_header {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
#top_banner .inner_header > img {
  margin: 30px 0;
  width: 128px;
  height: 32px;
}
#top_banner .inner_header > .right_side_header {
  display: flex;
  align-items: center;
}
#top_banner .inner_header > .right_side_header > nav {
  list-style: none;
  display: flex;
}
#top_banner .inner_header > .right_side_header > nav li a {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  margin-right: 32px;
  position: relative;
}
#top_banner .inner_header > .right_side_header > nav li a:after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  opacity: 0;
  transition: 0.4s ease all;
}
#top_banner .inner_header > .right_side_header > nav li a:hover:after {
  opacity: 1;
}
#top_banner .inner_header > .right_side_header > ._btn {
  color: #fff;
  margin-right: 0;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: 0.4s ease all;
}
#top_banner .inner_header > .right_side_header > ._btn:hover {
  color: #000;
  background: #fff;
}
#top_banner .main_banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  align-items: center;
}
#top_banner .main_banner > .content {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
#top_banner .main_banner > .content > div {
  color: #C0C0C0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
#top_banner .main_banner > .content > h1 {
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  margin-bottom: 22px;
}
#top_banner .main_banner > .content > p {
  max-width: 580px;
  color: #C0C0C0;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

#cards {
  margin-bottom: 100px;
}
#cards h2 {
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 15px;
}
#cards p {
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #C0C0C0;
  margin-bottom: 45px;
}
#cards .menu_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
#cards .menu_cards > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 576px;
  height: 600px;
  position: relative;
}
#cards .menu_cards > div > .card_content {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#cards .menu_cards > div > .card_content h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
#cards .menu_cards > div > .card_content p {
  font-size: 14px;
  line-height: 20px;
  max-width: 516px;
  color: #C0C0C0;
  margin-bottom: 20px;
  text-align: left;
}

#mountain > .inner_mountain {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#mountain > .inner_mountain > .content {
  position: absolute;
  bottom: 260px;
  right: 62px;
  max-width: 300px;
}
#mountain > .inner_mountain > .content > h5 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mountain > .inner_mountain > .content > p {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}

#tools > .wrapper {
  display: flex;
}
#tools > .wrapper > .left_tools {
  width: 50%;
}
#tools > .wrapper > .left_tools > .content {
  max-width: 514px;
  margin: 175px 110px 155px 100px;
}
#tools > .wrapper > .left_tools > .content > .above_title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 8px;
}
#tools > .wrapper > .left_tools > .content > h3 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 18px;
}
#tools > .wrapper > .left_tools > .content > .subtitle {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}
#tools > .wrapper > .right_tools {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 50%;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
